@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  align-items: center;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  justify-content: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 129, 249, 0.5), rgba(255, 168, 251, 0.5)), url("https://lesbian.codes/img/hibiki.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.transparent {
  background: rgba(255, 225, 249, 0.92);
}

.icon {
  color: #a1789f;
  transition: .3s;
}

.icon:hover {
  opacity: 0.7;
}

.modal-background {
  opacity: 0.5;
}
